@charset "UTF-8";

body{
	height: 100vh;
	overflow: hidden; 
	padding-top: 6vh;
}

.column {
	border: 1px solid #ebecf0;
	border-radius: 3px; 
	width: 250px;  
	margin-right: 5px;
	padding: 10px; 
	max-height: calc(78vh);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.16);
	background:#ebecf0;
	float: left;
}

.memoContainer{
	max-height: 65vh;
	overflow: auto;
	
}

.container-column {
    margin: 5px 0 0 12px;
	position:relative;
	height:85vh;
	width:98%; 
	overflow:auto;
	z-index: 1;
	position: absolute;
	border-radius: 5px; 
	align-items: top;
	
}

.memo{
	 background:#fff; 
	 border-radius: 3px; 
	 font-size: 12px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.16);
     width: 100%;
	 text-align:left;
	 margin: 2px 3px 5px 0;
	 cursor: pointer;
	 }

.btn{
	cursor: pointer;
	outline:none;
	border:0; 
}

.pj_toolbar_star{
	 font-size: 16px; 
	 background-color: transparent; 
	 padding:0; 
	 margin: 0;
	 color:rgb(73, 73, 73);
}	 

.pj_toolbar_btn{
	background: rgba(255, 255, 255, 0.658); 
	 font-size: 10px; 
	 color:white; 
	 border-radius: 3px; 
	 padding:7px 10px; 
	 
}

.profile{
	 border-radius: 50%; 
	 height:24px; 
	 width:24px; 
	 overflow: hidden; 
}

.container-menu{
	float:right;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: rgba(204, 204, 204, 0.288); border-radius: 10px;
}
	
.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: gray; 
}

.scrollbar-danger::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color:rgba(204, 204, 204, 0.288);
	border-radius: 10px; 
}


.column-plus{
	background:#ebecf0; /* 버튼 배경색 */
	padding: 0;
	width: 250px;  
	border-radius: 3px; 
	display: inline-block;
	float: right;
	outline:none;
	border:0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.16);
}

td{
	vertical-align: top;
}


input::placeholder {
	color: rgba(128, 128, 128, 0.5);
  }
  textarea::placeholder {
	color:rgba(128, 128, 128, 0.5);
  }



.memoView{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background: white; 
	z-index: 3;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3), 2px 4px 4px rgba(0, 0, 0, 0.3);
	background:#ebecf0;
	border-radius: 3px; 
	padding: 10px;
}

.addMemo{
	margin: 4px 0 0 0;
	padding: 5px;
	border: 1px solid #ebecf0;
	border-radius: 3px; 
}

.addMemoContainer{
	width: 250px;
	background: #ebecf0;
	border-radius: 3px; 
}

.addMemo:hover{
	background:  rgba(128, 128, 128, 0.5);
	cursor: pointer;	
	border-radius: 3px; 
}

.memo:hover .btn_del {
	float: right;
	display: block;
}

.btn_del {
	display: none;
	cursor: pointer;
	margin: 2.5%;
}


/* 드래그 */
.cdk-drag-placeholder {
	opacity: 0;
}
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  

.memoDetailOutter{
	z-index: 6;
	position: absolute;
	display: inline-block;
	margin-left: 30%;
	width: 500px;
	height: 600px;
	background: #f4f5f7;
	border-radius: 5px;
	box-shadow: 2px 2px 20px rgba(5, 5, 5, 0.466), -2px -2px 20px rgba(53, 53, 53, 0.493);
	border: 2px solid dimgrey;
	overflow: auto;
}

.column:hover .delBoardBtn{
	display: block;
}

.delBoardBtn{
	display: none;
	cursor: pointer;
	outline:none;
	border:0; 
	float: right; 
	background-color: transparent; 
	font-size: 14px;
	line-height: 180%;
}

.memoBookMark{
	display: inline-block;
	width: 6px;
	height: 30px;
	margin: 0;
	padding: 0;
	border-radius: 3px;
	float: left;
}

.slideMenu{
	float: right; 
	z-index: 2; 
	position:relative;
}

.yellowStar{
	color: rgb(255, 0, 0);
}

.inviteBox{
	text-align: center;
	padding: 16px;
	background: white; 
	width: 300px; 
	min-height: 100px; 
	position: absolute; 
	z-index: 6; 
	margin-left: 20%;
	border-radius: 5px;
	box-shadow: 2px 2px 20px rgba(5, 5, 5, 0.466), -2px -2px 20px rgba(53, 53, 53, 0.493);
	border: 2px solid rgb(48, 48, 48);
	overflow: none;
}


.invTmpList{
	text-align: left;
	padding: 0 10px;
	margin-bottom: 10px;
	background: white;
	border-radius: 2px;
}

input.invInputBox{
	width: 92%;
	background-color: transparent;
	BORDER-BOTTOM: teal 1px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;

}

.invIdList{
	background: rgb(255, 203, 203); 
	width: 100%; 
	z-index: 7; 
	position: absolute;  
	margin: 6px 6px; 
	max-height: 180px; 
	min-height: 60px;
}

.invSubmitBtn{
	width: 100%;
}

.pjInvXBtn{
	float:right; 
	display: inline-block; 
	cursor: pointer;
}

.inviteList:hover{
	background: rgb(206, 206, 206);
}

.inviteList{
	cursor: pointer;

}

.idListBox{
	background: rgb(255, 254, 254); 
	position: relative; 
	z-index: 3; 
	overflow: auto; 
	width: 100%; 
	max-height: 100px;
	overflow: auto;
}

.idListOutterBox{
	margin-left: 20px;
	border-radius: 3px; 
	box-shadow: 2px 2px 6px rgba(5, 5, 5, 0.466);
}

.profileListIcon{
	font-size: 26px;
	width: 26px;
	height: 26px;
	display: inline-block; 
}

.profileBtn{
	width: 26px; 
    height: 26px; 
    border-radius: 50%; 
}

.kickMem{
	border-radius: 3px;
	margin: 10px;
	font-size: 13px;
}

.kickMemOuter{
	border-radius: 3px;
	position: absolute; 
	z-index: 6; 
	text-align: center;
	background: white;
}

.kickMemBtn:hover{
	background: rgb(202, 202, 202);
	color: red;
}