
.menu_btn {
	background-color: rgba(184, 184, 184, 0.5); /* 버튼 배경색 */
	border: none;
	color: rgb(73, 73, 73); /* 그림 색상 */
	font-size: 18px; /* 아이콘 사이즈 */
	cursor: pointer; 
	border-radius: 5px;
	margin: 2px;
	outline:none; 
	width: 36px;
	height: 36px;
	text-align: match-parent;
	vertical-align: middle;
	display: inline-block;
}

/* Darker background on mouse-over */
.menu_btn:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.profile{
    border-radius: 50%; 
	overflow: hidden; 
	display: inline-block;
	height:30px; 
	width:30px; 
	overflow: hidden; 
	padding: 0;
}

.btn{
	cursor: pointer;
	outline:none;
	border:0; 
}

.chatInBox{
	width: 640px;
	height: 440px;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 2px 2px 20px rgba(5, 5, 5, 0.466), -2px -2px 20px rgba(53, 53, 53, 0.493);
	float: right;
	margin-top: 50px;
	border: 2px solid dimgrey	;
	
}

.chatBox{
	z-index: 6;
	position: relative;

}

.menu_Icon{
	display: inline-block; 
	float: left; 
	line-height: 190%; 
	margin-left: 6px;
}